current/connect.html

<div class="row-fluid box app">
  <div class="title yellow"><i class="icomoon-connection"></i>
    <h3>connect linkedin</h3>
  </div>
  <div class="body">
    <div data-action="connectlinkedin" data-target=".connect" class="connect loadActions"></div>
    <div class="row-fluid">
      <p class="lead">connecting people</p>
    </div>
    <div class="row-fluid">
      <div class="span5">
        <div class="place_left1">	</div>
      </div>
      <div class="span3">	
        <div class="row-fluid">
          <div class="span10"><img src="./static/img/logo.png"/></div>
        </div>
      </div>
      <div class="span4">
        <div class="place_right1">			</div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span10">	
        <div class="row-fluid">
          <div class="span3"><img src="./static/img/default.png" id="tag-img1" class="shape1"/></div>
          <div class="span4">
            <div class="connectcheck1"></div>
          </div>
          <div class="span3"><img src="./static/img/default.png" id="tag-img2" class="shape1"/></div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span10">	
        <div class="row-fluid">
          <div class="span3 text">
            <p class="text1">Guest</p>
          </div>
          <div class="span4"></div>
          <div class="span3 text">
            <p class="text2">Guest</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

source/jade/connect.jade
.row-fluid.box.app
	.title.yellow
		i.icomoon-connection
		h3 connect linkedin

	.body
		.connect.loadActions(data-action='connectlinkedin', data-target='.connect')
		.row-fluid
			p.lead connecting people
		.row-fluid
			.span5
				.place_left1	
			.span3	
				.row-fluid
					.span10
						img(src="./static/img/logo.png")
			.span4
				.place_right1			
		.row-fluid
			.span2
			.span10	
				.row-fluid
					.span3
						img.shape1(src="./static/img/default.png",id="tag-img1")
					.span4
						.connectcheck1
					.span3
						img.shape1(src="./static/img/default.png",id="tag-img2")
		.row-fluid
			.span2
			.span10	
				.row-fluid
					.span3.text
						p.text1 Guest
					.span4
					.span3.text
						p.text2 Guest
