current/feedback.html

<div class="row-fluid box app">
  <div class="title yellow">
    <div class="options"></div>
  </div>
  <div class="body">
    <div class="row-fluid">
      <p class="lead">Rate our Services</p>
      <div data-action="getFeedback" data-target="#feedback" id="feedback" class="green loadActions">
        <div class="row-fluid"><img src="./static/img/feedback/1.png" class="smiley"/><img src="./static/img/feedback/2.png" class="smiley"/><img src="./static/img/feedback/3.png" class="smiley"/><img src="./static/img/feedback/4.png" class="smiley"/><img src="./static/img/feedback/5.png" class="smiley"/></div>
        <div style="margin-top:30px; margin-left:30px;" class="container-fluid">
          <div class="row-fluid">
            <div class="span2">
              <label>Extremely Unsatisfied</label>
            </div>
            <div style="margin-left:50px;" class="span2">
              <label>Unsatisfied</label>
            </div>
            <div style="margin-left:50px;" class="span2">
              <label>Neutral</label>
            </div>
            <div style="margin-left:50px;" class="span2">
              <label>Satisfied</label>
            </div>
            <div style="margin-left:30px;" class="span2">
              <label>Extremely Satisfied</label>
            </div>
          </div>
        </div>
        <div style="margin-top:10px; margin-left:50px;" class="container-fluid">
          <div class="row-fluid">
            <div class="span2">
              <input type="radio" name="radio" value="1" class="inp"/>
            </div>
            <div style="margin-left:50px;" class="span2">
              <input type="radio" name="radio" value="2" class="inp"/>
            </div>
            <div style="margin-left:50px;" class="span2">
              <input type="radio" name="radio" value="3" class="inp"/>
            </div>
            <div style="margin-left:50px;" class="span2">
              <input type="radio" name="radio" value="4" class="inp"/>
            </div>
            <div style="margin-left:50px;" class="span2">
              <input type="radio" name="radio" value="5" class="inp"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

source/jade/feedback.jade
.row-fluid.box.app
	.title.yellow
		.options

	.body
		.row-fluid
			p.lead Rate our Services
			.green.loadActions(data-action='getFeedback', data-target='#feedback')#feedback
				.row-fluid
					img.smiley(src='./static/img/feedback/1.png')
					img.smiley(src='./static/img/feedback/2.png')
					img.smiley(src='./static/img/feedback/3.png')
					img.smiley(src='./static/img/feedback/4.png')
					img.smiley(src='./static/img/feedback/5.png')
				.container-fluid(style='margin-top:30px; margin-left:30px;')
					.row-fluid
						.span2
							label Extremely Unsatisfied
						.span2(style='margin-left:50px;')
							label Unsatisfied
						.span2(style='margin-left:50px;')
							label Neutral
						.span2(style='margin-left:50px;')
							label Satisfied
						.span2(style='margin-left:30px;')
							label Extremely Satisfied

				.container-fluid(style='margin-top:10px; margin-left:50px;')
					.row-fluid
						.span2
							input.inp(type='radio', name='radio', value='1')
						.span2(style='margin-left:50px;')
							input.inp(type='radio', name='radio', value='2')
						.span2(style='margin-left:50px;')
							input.inp(type='radio', name='radio', value='3')
						.span2(style='margin-left:50px;')
							input.inp(type='radio', name='radio', value='4')
						.span2(style='margin-left:50px;')
							input.inp(type='radio', name='radio', value='5')
