current/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>tagBin</title>
    <link rel="stylesheet" type="text/css" href="./static/css/vendors-bundled.css">
    <script type="text/javascript" src="./static/js/vendors-bundled.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
  </head>
  <body>
    <div id="fb-root"></div>
    <div class="frontlayer">
      <div data-state="normal" class="menu">
        <div class="tagBinMain"><i class="entypo-logout"></i>
          <p>Logout</p>
        </div>
        <ul>
          <li data-action="navigate" data-target="like-post.html" class="runAction">
            <div class="expander"> 
              <div class="title">Like</div>
            </div>
            <div class="condensed"><i class="icomoon-thumbs-up"></i></div>
          </li>
          <li data-action="navigate" data-target="pic-upload.html" class="runAction">
            <div class="expander"> 
              <div class="title">PicUpload</div>
            </div>
            <div class="condensed"><i class="icomoon-image"></i></div>
          </li>
          <li data-action="navigate" data-target="share.html" class="active runAction">
            <div class="expander">
              <div class="title">Share</div>
            </div>
            <div class="condensed"> <i class="entypo-export"></i></div>
          </li>
          <li data-action="navigate" data-target="status-post.html" class="runAction">
            <div class="expander">
              <div class="title">Check-in</div>
            </div>
            <div class="condensed"><i class="entypo-vcard"></i></div>
          </li>
          <li data-action="navigate" data-target="tagplay.html" class="runAction">
            <div class="expander">
              <div class="title">tagPlay</div>
            </div>
            <div class="condensed"><i class="icomoon-music"></i></div>
          </li>
          <li data-action="navigate" data-target="tweet.html" class="runAction">
            <div class="expander">
              <div class="title">Retweet</div>
            </div>
            <div class="condensed"><i class="icomoon-blog"></i></div>
          </li>
          <li data-action="navigate" data-target="leaderboard.html" class="runAction">
            <div class="expander">
              <div class="title">Leader Board</div>
            </div>
            <div class="condensed"><i class="icomoon-dashboard"></i></div>
          </li>
          <li data-action="navigate" data-target="match_finder.html" class="runAction">
            <div class="expander">
              <div class="title">Friend Finder</div>
            </div>
            <div class="condensed"><i class="icomoon-heart"></i></div>
          </li>
          <li data-action="navigate" data-target="connect.html" class="runAction">
            <div class="expander">
              <div class="title">Connect</div>
            </div>
            <div class="condensed"><i class="icomoon-connection"></i></div>
          </li>
          <li data-action="navigate" data-target="feedback.html" class="runAction">
            <div class="expander">
              <div class="title">Feedback</div>
            </div>
            <div class="condensed"><i class="icomoon-feed-2"></i></div>
          </li>
          <li data-action="navigate" data-target="fortune.html" class="runAction">
            <div class="expander">
              <div class="title">Fortune</div>
            </div>
            <div class="condensed"><i class="icomoon-dice"></i></div>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="row-fluid">
          <div class="span3">
            <div class="row-fluid main-page-title">
              <ul>
                <li class="first active"> <i class="pageicon entypo-thumbs-up"></i><span class="name">Like Posts </span></li>
                <li class="second"></li>
                <li class="third"></li>
                <li class="fourth"></li>
              </ul>
            </div>
            <div class="row-fluid box main">
              <div class="main-userpic-wrap">
                <div class="userpic"><img src=""></div>
                <div class="username"> </div>
              </div>
            </div>
            <div class="row-fluid box _bottom">
              <ul class="notif actions">
                <li class="action success">Swipe to Like</li>
              </ul>
            </div>
            <div class="row-fluid box bottom">
              <div class="title green">
                <h3> <i class="icomoon-lightning"></i>Notifications</h3>
              </div>
              <ul class="actionlist unstyled"></ul>
            </div>
          </div>
          <div class="span9">
            <div class="row-fluid app-content">
              <div class="row-fluid box app">
                <div class="title yellow"><i class="icomoon-stats"></i>
                  <h3>Stats</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="backlayer">
    </div>
    <div class="overlay">
      <div class="loading">
        <div class="tb-loader"><i class="icomoon-tagbin anim"></i></div>
        <div id="canvasworld" class="k-contain"></div>
        <ul class="loader-menu hide _blur">
          <li><a href="like-post.html" class="btn-hex purple">
              <div class="container-fluid">
                <div class="row-fluid"><i class="icomoon-thumbs-up"></i>
                  <div>Like Post</div>
                </div>
              </div>
              <div class="title">Like</div></a></li>
          <li><a href="pic-upload.html" class="btn-hex green">
              <div class="container-fluid">
                <div class="row-fluid"><i class="icomoon-image"></i>
                  <div>Pic-Upload</div>
                </div>
              </div>
              <div class="title">Pic-Upload</div></a></li>
          <li><a href="share.html" class="btn-hex red">
              <div class="container-fluid">
                <div class="row-fluid"><i class="entypo-export"></i>
                  <div>Share Post</div>
                </div>
              </div>
              <div class="title">Share</div></a></li>
          <li><a href="status-post.html" class="btn-hex blue">
              <div class="container-fluid">
                <div class="row-fluid"><i class="entypo-vcard"></i>
                  <div>Check-in</div>
                </div>
              </div>
              <div class="title">Post Check-in</div></a></li>
          <li><a href="tagplay.html" class="btn-hex orange">
              <div class="container-fluid">
                <div class="row-fluid"><i class="icomoon-music"></i>
                  <div>tagPlay</div>
                </div>
              </div>
              <div class="title">tagPlay</div></a></li>
          <li><a href="tweet.html" class="btn-hex dark_green">
              <div class="container-fluid">
                <div class="row-fluid"><i class="icomoon-blog"></i>
                  <div>Retweet</div>
                </div>
              </div>
              <div class="title">ReTweet</div></a></li>
          <li><a href="leaderboard.html" class="btn-hex yellow">
              <div class="container-fluid">
                <div class="row-fluid"><i class="icomoon-dashboard"></i>
                  <div>LeaderBoard</div>
                </div>
              </div>
              <div class="title">LeaderBoard</div></a></li>
          <li><a href="match_finder.html" class="btn-hex pink">
              <div class="container-fluid">
                <div class="row-fluid"><i class="icomoon-heart"></i>
                  <div>Friend Finder</div>
                </div>
              </div>
              <div class="title">Friend Finder</div></a></li>
          <li><a href="connect.html" class="btn-hex color1">
              <div class="container-fluid">
                <div class="row-fluid"><i class="icomoon-connection"></i>
                  <div>Connect</div>
                </div>
              </div>
              <div class="title">LinkedIn Connect</div></a></li>
          <li><a href="feedback.html" class="btn-hex brown">
              <div class="container-fluid">
                <div class="row-fluid"><i class="icomoon-feed-2"></i>
                  <div>Feedback</div>
                </div>
              </div>
              <div class="title">Feedback</div></a></li>
          <li><a href="fortune.html" class="btn-hex color2">
              <div class="container-fluid">
                <div class="row-fluid"><i class="icomoon-dice"></i>
                  <div>Horoscope</div>
                </div>
              </div>
              <div class="title">Horoscope</div></a></li>
          <div class="blur"></div>
        </ul>
        <div class="hide swipe_notification pulsed">Swipe your Tag</div>
      </div>
    </div>
    <div class="hide">
    </div>
  </body>
  <script type="text/javascript" src="./static/js/tagbin.js"></script>
  <script type="text/javascript" src="./static/js/main.js"></script>
</html>

source/jade/index.jade
extends layout

block menu 
	mixin _menu('normal')


block overlay
	.loading
		.tb-loader
			i.icomoon-tagbin.anim
		.k-contain#canvasworld
		ul.loader-menu.hide._blur
			li
				a.btn-hex.purple(href='like-post.html')
					.container-fluid
						.row-fluid
							i.icomoon-thumbs-up
							div Like Post
					.title Like
			li
				a.btn-hex.green(href='pic-upload.html')
					.container-fluid
						.row-fluid
							i.icomoon-image
							div Pic-Upload
					.title Pic-Upload
			li
				a.btn-hex.red(href='share.html')
					.container-fluid
						.row-fluid
							i.entypo-export
							div Share Post
					.title Share
			li
				a.btn-hex.blue(href='status-post.html')
					.container-fluid
						.row-fluid
							i.entypo-vcard
							div Check-in
					.title Post Check-in
			li
				a.btn-hex.orange(href='tagplay.html')
					.container-fluid
						.row-fluid
							i.icomoon-music
							div tagPlay
					.title tagPlay
			li
				a.btn-hex.dark_green(href='tweet.html')
					.container-fluid
						.row-fluid
							i.icomoon-blog
							div Retweet
					.title ReTweet
			li
				a.btn-hex.yellow(href='leaderboard.html')
					.container-fluid
						.row-fluid
							i.icomoon-dashboard
							div LeaderBoard
					.title LeaderBoard
			li
				a.btn-hex.pink(href='match_finder.html')
					.container-fluid
						.row-fluid
							i.icomoon-heart
							div Friend Finder
					.title Friend Finder
			li
				a.btn-hex.color1(href='connect.html')
					.container-fluid
						.row-fluid
							i.icomoon-connection
							div Connect
					.title LinkedIn Connect
			li
				a.btn-hex.brown(href='feedback.html')
					.container-fluid
						.row-fluid
							i.icomoon-feed-2
							div Feedback
					.title Feedback
			li
				a.btn-hex.color2(href='fortune.html')
					.container-fluid
						.row-fluid
							i.icomoon-dice
							div Horoscope
					.title Horoscope

			.blur

		.hide.swipe_notification.pulsed Swipe your Tag

block content

	.row-fluid
		.span3
			.row-fluid.main-page-title
				ul
					li.first.active 
						i.pageicon.entypo-thumbs-up
						span.name Like Posts 
					li.second
					li.third
					li.fourth
			.row-fluid.box.main
				.main-userpic-wrap
					.userpic
						img(src='')
					.username 
			.row-fluid.box._bottom
				ul.notif.actions
					li.action.success Swipe to Like

			.row-fluid.box.bottom
				.title.green
					h3 
						i.icomoon-lightning
						| Notifications
				ul.actionlist.unstyled
			
		.span9
			.row-fluid.app-content
				.row-fluid.box.app
					.title.yellow
						i.icomoon-stats
						h3 Stats
