source/jade/match_finder.jade
.row-fluid.box.app
	.title.purple
		i.icomoon-heart
		h3 Friend finder

	.body
		.row-fluid
			p.lead Your Best Match
			.purple.loadActions(data-action='getMatch', data-target='#match_detail')#fr_detail
				.row-container.box-friend.hide
					.row-fluid
						.span2
							img.fr_user_img#fr_img(src='./static/img/default.png')
						.span10
							.row-fluid(style='margin-bottom:5px;')
								b.fr_name#fr_name1

							.row-container
								.row-fluid
									.span2
										p.fr UserName
										p.fr Score
										p.fr Gender
										p.fr Lives in
										p.fr HownTown
										p.fr AboutMe
									.span10
										p
											b.fr#fr_username1
										p
											b.fr#fr_score1
										p
											b.fr#fr_gender
										p
											b.fr#fr_location
										p
											b.fr#fr_hometown
										p
											b.fr#fr_bio
					hr(style='margin-left:20px; width:660px;')
					.row-container.likes_groups
						.row-fluid
							.span6
								p.fr
									b Common Likes
								p.fr#like1
								p.fr#like2
								p.fr#like3
							.span6
								p.fr
									b.fr#mf
								p.fr#mf1
								p.fr#mf2
								p.fr#mf3

current/match_finder.html

<div class="row-fluid box app">
  <div class="title purple"><i class="icomoon-heart"></i>
    <h3>Friend finder</h3>
  </div>
  <div class="body">
    <div class="row-fluid">
      <p class="lead">Your Best Match</p>
      <div data-action="getMatch" data-target="#match_detail" id="fr_detail" class="purple loadActions">
        <div class="row-container box-friend hide">
          <div class="row-fluid">
            <div class="span2"><img id="fr_img" src="./static/img/default.png" class="fr_user_img"/></div>
            <div class="span10">
              <div style="margin-bottom:5px;" class="row-fluid"><b id="fr_name1" class="fr_name"></b></div>
              <div class="row-container">
                <div class="row-fluid">
                  <div class="span2">
                    <p class="fr">UserName</p>
                    <p class="fr">Score</p>
                    <p class="fr">Gender</p>
                    <p class="fr">Lives in</p>
                    <p class="fr">HownTown</p>
                    <p class="fr">AboutMe</p>
                  </div>
                  <div class="span10">
                    <p><b id="fr_username1" class="fr"></b></p>
                    <p><b id="fr_score1" class="fr"></b></p>
                    <p><b id="fr_gender" class="fr"></b></p>
                    <p><b id="fr_location" class="fr"></b></p>
                    <p><b id="fr_hometown" class="fr"></b></p>
                    <p><b id="fr_bio" class="fr"></b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr style="margin-left:20px; width:660px;"/>
          <div class="row-container likes_groups">
            <div class="row-fluid">
              <div class="span6">
                <p class="fr"><b>Common Likes</b></p>
                <p id="like1" class="fr"></p>
                <p id="like2" class="fr"></p>
                <p id="like3" class="fr"></p>
              </div>
              <div class="span6">
                <p class="fr"><b id="mf" class="fr"></b></p>
                <p id="mf1" class="fr"></p>
                <p id="mf2" class="fr"></p>
                <p id="mf3" class="fr"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
