current/share.html

<div class="row-fluid box app">
  <div class="title">
    <div class="options">
      <button class="btn red mar-r20"><i class="icomoon-spinner-6"></i><span class="text1">Reload</span></button>
      <button data-action="share_this" class="btn red pulsed_red runAction"><i class="entypo-export"></i><span class="text1">Share Post</span></button>
      <button data-action="prevPost" class="btn red runAction"><i class="entypo-arrow-up-6"></i></button>
      <button data-action="nextPost" class="btn red runAction"><i class="entypo-arrow-down-7"></i></button>
    </div>
  </div>
  <div id="latestpost-share" data-action="getLikePosts" data-target="#latestpost-share" class="posts-list red row-fluid loadActions"></div>
</div>

source/jade/share.jade
.row-fluid.box.app
	.title
		.options
			button.btn.red.mar-r20
				i.icomoon-spinner-6
				span.text1 Reload
			button.btn.red.pulsed_red.runAction(data-action='share_this')
				i.entypo-export
				span.text1 Share Post
			button.btn.red.runAction(data-action='prevPost')
				i.entypo-arrow-up-6
			button.btn.red.runAction(data-action='nextPost')
				i.entypo-arrow-down-7
	
	.posts-list.red.row-fluid.loadActions#latestpost-share(data-action='getLikePosts', data-target='#latestpost-share')
		
