source/jade/status-post.jade
.row-fluid.box.app
	.title.blue
		.options
			button.btn.blue.runAction.pulsed(data-action='publishWelcome', data-target='#status-message')
				i.entypo-vcard
				span.text1 Post Status
	.body
		.row-fluid
			p.lead#status-message 
				b Check in message: 
				| "Welcome to tagbin"

current/status-post.html

<div class="row-fluid box app">
  <div class="title blue">
    <div class="options">
      <button data-action="publishWelcome" data-target="#status-message" class="btn blue runAction pulsed"><i class="entypo-vcard"></i><span class="text1">Post Status</span></button>
    </div>
  </div>
  <div class="body">
    <div class="row-fluid">
      <p id="status-message" class="lead"> <b>Check in message: </b>"Welcome to tagbin"</p>
    </div>
  </div>
</div>
