current/tagplay.html

<div class="row-fluid box app">
  <div class="title">
    <div class="options">
      <button class="btn yellow"><i class="icomoon-play"></i><span class="text">Play</span></button>
    </div>
  </div>
  <div class="play-wrap">
    <div class="player-container">
      <div class="player"><img class="player-art"/>
        <div class="seekbar">
          <input type="range" min="0" max="100" class="play-seek"/>
        </div>
        <ul class="player-info">
          <li class="title">Song Title</li>
          <li class="album">Album</li>
          <li class="artist">Artist</li>
        </ul>
      </div>
    </div>
    <div id="playlist-cont" class="play-list">
      <div class="head">
        <div class="title">Playlist</div>
        <div class="options">
          <button class="btn">Up</button>
          <button class="btn">Down</button>
        </div>
      </div>
      <ul data-action="populateMP3" data-target="#playlist-cont" class="unstyled loadActions"></ul>
    </div>
  </div>
</div>

source/jade/tagplay.jade
.row-fluid.box.app
	.title
		.options
			button.btn.yellow
				i.icomoon-play
				span.text Play
	.play-wrap
		.player-container
			.player
				img.player-art
				.seekbar
					input.play-seek(type='range', min='0', max='100')
				ul.player-info
					li.title Song Title
					li.album Album
					li.artist Artist

		.play-list#playlist-cont
			.head
				.title Playlist
				.options
					button.btn Up
					button.btn Down
			ul.unstyled.loadActions(data-action='populateMP3', data-target='#playlist-cont')


			
