current/tweet.html

<div class="row-fluid box app">
  <div class="title green">		
    <div class="options">
      <button data-action="tweet_this" class="btn dark_green pulsed_purple runAction"><i class="icomoon-blog"></i><span class="text1">Tweet</span></button>
      <button data-action="prevPost" class="btn purple runAction"><i class="entypo-arrow-up-6"></i></button>
      <button data-action="nextPost" class="btn purple runAction"><i class="entypo-arrow-down-7"></i></button>
    </div>
  </div>
  <div data-action="getTweetList" data-target=".posts-list" class="posts-list loadActions"></div>
</div>

source/jade/tweet.jade
.row-fluid.box.app
	.title.green		
		.options
			button.btn.dark_green.pulsed_purple.runAction(data-action='tweet_this')
				i.icomoon-blog
				span.text1 Tweet
			button.btn.purple.runAction(data-action='prevPost')
				i.entypo-arrow-up-6
			button.btn.purple.runAction(data-action='nextPost')
				i.entypo-arrow-down-7
	
	.posts-list.loadActions(data-action='getTweetList', data-target='.posts-list')
